@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vh;
}

h1,
.photo-credit,
.photo-source {
  font-family: "IM Fell Double Pica", serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 15%;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

/* Brand section */
.brand-container {
  background-image: url("./images/background.jpg");
  height: 100%;
  width: 65%;
}

.logo-name-container,
.credit-container {
  display: flex;
  height: 50%;
}

.image-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 10%;
  height: 34%;
  width: 100%;
}

#rune-logo {
  max-height: 100%;
}

.credit-container {
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
}

/* Sign up section */
.sign-up-container {
  height: 100%;
  width: auto;
}

.top-divider,
.bottom-divider {
  /* TODO: Probably best to change this so that the middle-divider is
  centered centrally, and the top and bottom use up the remaining space. */
  height: 31%;
  width: 100%;
}

.middle-divider {
  height: 33%;
  width: 100%;
}
