@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  box-sizing: border-box;
}

h1,
.photo-credit,
.photo-source {
  margin: 0;
  font-family: "IM Fell Double Pica", serif;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* Brand section */
.brand-container {
  background-image: url("./images/background.jpg");
  color: rgb(233, 233, 233);
  width: 35%;
}

/* Sign up section */
.sign-up-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 65%;
}

.brand-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.logo-name-container,
.credit-container {
  display: flex;
  height: 50%;
}

.image-header-wrapper {
  background-color: rgba(0, 0, 0, 0.253);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 5%;
  height: 34%;
  width: 100%;
  padding: 2% 2%;
}

#rune-logo {
  max-height: 100%;
}

.credit-container {
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
}

.top-divider,
.bottom-divider {
  /* TODO: Probably best to change this so that the middle-divider is
  centered centrally, and the top and bottom use up the remaining space. */
  display: flex;
  background-color: grey;
  flex: 1;
}

.top-divider {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.middle-divider {
  height: 33%;
  flex: 1;
  background-color: rgb(235, 235, 235);
}

.inputs-container {
  display: flex;
  flex-direction: row;
}

h3 {
  margin: 0;
}
